@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-image: url("imagens/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    background-image: url("imagens/bg2.jpg");
    background-size: cover;
    max-width: 200px;
    min-height: 60vh;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.678);
}

.login{
    color: white;
    font-size: 54px;
    padding: 15px;
    font-weight: 500;
    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.705);
}

input {
    padding: 5px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.submit {
    margin: 8px;
    padding: 4px;
    width: 160px;
    background: #4776E6;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    border-radius: 4px;
}

.submit:hover {
    background: #355aaf;
}

.esqsenha {
    padding: 8px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.856);
}

.nova {
    margin-top: 80px;
    font-size: 12px;
    font-weight: 600;
    color: #25afff;
    cursor: pointer;
    text-align: center;
    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.856);
}